<p class="my-10 text-5xl text-center">Packets</p>

<div class="flex items-center justify-center mt-5 mb-20">
    <form (submit)="search()" class="w-1/2">
        <label class="border-2 rounded-3xl input input-bordered input-primary flex items-center gap-2 pr-0">
            <input type="text" class="grow" placeholder="Search" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"/>
            <button class="btn btn-ghost hover:bg-transparent hover:outline-none">
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
        </label>
    </form>
</div>

<div class="flex flex-wrap w-full gap-5 justify-evenly">
    @for (packet of getPackets(); track packet; let index = $index) {

        <app-user-packet
                    [loggedInCustomer]="customerService.get()[0]"
                    [showSignIn]="!isIncluded(packet)"
                    [packet]="packet">
        </app-user-packet>
    } @empty {
        No packets available!
    }
</div>
