<p class="my-10 text-5xl text-center">Packets</p>

<div class="flex items-center justify-center">
    <div class="items-center justify-center mt-5 mb-20">
        <form (submit)="search()" class="join">
            <input class="border-2 rounded-md input input-bordered input-primary join-item" placeholder="Search" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"/>
            <button class="rounded-r-full btn join-item">
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
        </form>
    </div>
</div>

<div class="flex flex-wrap w-full gap-5 justify-evenly">
@for (packet of packetService.get(); track packet; let index = $index) {

    <app-user-packet
                [loggedInCustomer]="customerService.get()[0]"
                [showSignIn]="!isIncluded(packet)"
                [packet]="packet">
    </app-user-packet>
}
</div>
