<div class="overflow-x-auto">
  <table class="table">
    <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Roles</th>
    </tr>
    </thead>
    <tbody>
      @for (user of viewModel | async; track $index) {
        <tr>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>
            @for (role of user.roles; track $index) {
              <div class="badge badge-primary badge-outline cursor-pointer hover:line-through hover:badge-outline hover:badge-error"
              (click)="deleteRole(user.id!, role)">{{role}}</div>
            }
          </td>
        </tr>
        <button (click)="openRoleAdder(user)">Add Role</button>
      }
    </tbody>
  </table>
</div>
<dialog #RoleAdder>
  <p>Choose a Role</p>
  <select [(ngModel)]="userRole">
    @for (role of getRoles(); track $index) {
      <option>{{role}}</option>
    }
  </select>
  <button (click)="addRole()">Add</button>
  <button (click)="close()">Close</button>
</dialog>
