<p class="my-10 text-5xl text-center">Instructors</p>

<div class="overflow-x-auto">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>E-Mail</th>
            </tr>
        </thead>
        <tbody>
            @for (instructor of viewModel | async; track $index) {
                <tr
                    class="cursor-pointer hover"
                    [routerLink]="['/admin/instructors/', instructor.id]"
                >
                    <th>{{ $index + 1 }}</th>
                    <td>
                        {{ instructor.firstName }} {{ instructor.lastName }}
                    </td>
                    <td>{{ instructor.email }}</td>
                </tr>
            }
        </tbody>
    </table>
</div>
