<h2>Instructors</h2>

<div style="display: flex; justify-content: center; flex-direction: column;">
    <mat-action-list>
        @for (instructor of instructorService.get(); track instructor) {
        <a href="/instructors/{{instructor.id}}" mat-list-item>
            <mat-icon matListItemIcon>
                account_circle
            </mat-icon>
            <div matLine>
                <p>{{instructor.lastName}} {{instructor.firstName}}</p>
            </div>
        </a>
        
        <mat-divider></mat-divider>
        }

    </mat-action-list>
</div>