<p class="text-5xl text-center my-10">Instructors</p>

<div class="overflow-x-auto">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>E-Mail</th>
        </tr>
        </thead>
        <tbody>

        @for (instructor of instructorService.get(); track $index) {
            <tr class="hover cursor-pointer" [routerLink]="['/admin/instructors/', instructor.id]">
                <th>{{ $index+1 }}</th>
                <td>{{ instructor.firstName }} {{ instructor.lastName }}</td>
                <td>{{ instructor.email }}</td>
            </tr>
        }

        </tbody>
    </table>
</div>
