<div class="border-2 rounded-md shadow-lg card w-96">
    <div class="items-center text-center card-body">
        <p class="text-3xl card-title">{{packet.name}}</p>
        <p class="text-lg card-title">{{packet.price}} €</p>

        <div class="m-0 divider"></div>

        @for (offer of getOffers(packet.id!); track $index) {
            <p>{{offer.appointment.name}}</p>
        }

        <div class="card-actions justify-end">
            <a routerLink="{{packet.id}}" class="btn btn-circle">
                <span class="material-symbols-outlined">
                    info
                </span>
            </a>

            @if(showSignIn) {
                <button class="btn btn-accent btn-circle" (click)="onBtnSignIn()">
                    <span class="material-symbols-outlined">
                        payment
                    </span>
                </button>
            } @else {
                <button class="btn btn-accent btn-disabled btn-circle" disabled="">
                    <span class="material-symbols-outlined">
                        done
                    </span>
                </button>
            }
        </div>
    </div>
</div>

