<mat-card>
    <mat-card-title>{{packet.name}}</mat-card-title>
    <mat-card-subtitle>{{packet.price}} €</mat-card-subtitle>
    <hr>
    <mat-card-content>
        @for (offer of getOffers(packet.id!); track $index) {
            <p>{{offer.appointment.name}}</p>
        }
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="{{packet.id}}" style="margin-right: 0.5rem;">
            <button mat-mini-fab color="secondary">
                <p style="font-weight: bold; font-size: large;">i</p>
            </button>
        </a>
        @if (showSignIn) {
            <button mat-mini-fab color="primary" (click)="onBtnSignIn()">
                <mat-icon style="color: white !important;">payment</mat-icon>
            </button>
        } @else {
            <button mat-mini-fab color="primary">
                <mat-icon class="card-btn">done</mat-icon> <!--check_circle-->
            </button>
        }
    </mat-card-actions>
</mat-card>
