<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="shadow navbar">
    <div class="navbar-start">
        <div class="lg:hidden">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                </div>
                <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-60">
                    @if (!isAdmin) {
                        <a routerLink="organisations" class="text-xl btn btn-ghost justify-normal">
                            <span class="material-symbols-outlined">
                                business
                            </span>
                            Organisations
                        </a>
                        <a routerLink="appointments" class="text-xl btn btn-ghost justify-normal">
                            <span class="material-symbols-outlined">
                                today
                            </span>
                            Appointments
                        </a>
                        <a routerLink="packets" class="text-xl btn btn-ghost justify-normal">
                            <span class="material-symbols-outlined">
                                category
                            </span>
                            Packets
                        </a>
                        <a routerLink="user" class="text-xl btn btn-ghost justify-normal">
                            <span class="material-symbols-outlined">
                                account_circle
                            </span>
                            User
                        </a>
                        } @else {
                        <a routerLink="admin/customers" class="text-xl btn btn-ghost justify-normal">
                            <span class="material-symbols-outlined">
                                group
                            </span>
                            Customers
                        </a>
                        <a routerLink="admin/instructors" class="text-xl btn btn-ghost justify-normal">
                            <span class="material-symbols-outlined">
                                build
                            </span>
                            Instructors
                        </a>
                        <a routerLink="admin/appointments" class="text-xl btn btn-ghost justify-normal">
                            <span class="material-symbols-outlined">
                                calendar_today
                            </span>
                            Appointments
                        </a>
                        <a routerLink="admin/packets" class="text-xl btn btn-ghost justify-normal">
                            <span class="material-symbols-outlined">
                                category
                            </span>
                            Packets
                        </a>
                        <a routerLink="user" class="text-xl btn btn-ghost justify-normal">
                            <span class="material-symbols-outlined">
                                account_circle
                            </span>
                            User
                        </a>
                        }
                </ul>
            </div>
        </div>
        <a routerLink="home" class="text-xl btn btn-ghost">
            CouSch
        </a>
    </div>

    <div class="hidden navbar-center lg:flex">
        @if (!isAdmin) {
        <a routerLink="organisations" class="text-xl btn btn-ghost">
            <span class="material-symbols-outlined">
                business
            </span>
            Organisations
        </a>
        <a routerLink="appointments" class="text-xl btn btn-ghost">
            <span class="material-symbols-outlined">
                today
            </span>
            Appointments
        </a>
        <a routerLink="packets" class="text-xl btn btn-ghost">
            <span class="material-symbols-outlined">
                category
            </span>
            Packets
        </a>
        <a routerLink="user" class="text-xl btn btn-ghost">
            <span class="material-symbols-outlined">
                account_circle
            </span>
            User
        </a>
        } @else {
        <a routerLink="admin/customers" class="text-xl btn btn-ghost">
            <span class="material-symbols-outlined">
                group
            </span>
            Customers
        </a>
        <a routerLink="admin/instructors" class="text-xl btn btn-ghost">
            <span class="material-symbols-outlined">
                build
            </span>
            Instructors
        </a>
        <a routerLink="admin/appointments" class="text-xl btn btn-ghost">
            <span class="material-symbols-outlined">
                calendar_today
            </span>
            Appointments
        </a>
        <a routerLink="admin/packets" class="text-xl btn btn-ghost">
            <span class="material-symbols-outlined">
                category
            </span>
            Packets
        </a>
        <a routerLink="user" class="text-xl btn btn-ghost">
            <span class="material-symbols-outlined">
                account_circle
            </span>
            User
        </a>
        }
    </div>

    <div class="navbar-end">
        <button class="btn btn-circle btn-ghost" (click)="onBtnLogout()">
            <span class="material-symbols-outlined">
                Logout
            </span>
        </button>
    </div>
</div>

<router-outlet></router-outlet>

<!--<h1>Course Schedule</h1>-->