<table style="width: 85%">
  <tr>
    <td>
      <button mat-button (click)="keycloak.logout()">Log out</button>
    </td>
    <td>
      <h1>Course Schedule</h1>
    </td>
  </tr>
</table>

<ul class="nav nav-tabs">
  @if (isAdmin) {
    <!--li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <a routerLink="/">Customers</a>
  </li-->
    <li routerLinkActive="active">
      <a routerLink="instructors">Instructors</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="appointments">Appointments</a>
    </li>
  } @else {
    <li routerLinkActive="active">
      <a routerLink="appointments-user">Appointments</a>
    </li>
  }

  <li routerLinkActive="active">
    <a routerLink="user">User</a>
  </li>
</ul>

<router-outlet></router-outlet>
