button {
    margin-right: 5px;
    transition: transform 0.1s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

.nav-btn {
    color: #3f51b5;
    height: 40px;
    font-size: 20px;
}

.nav-btn:hover {
    background-color: #0e1f6c;
}

.logout-btn:hover {
    background-color: red;
    color: white;

    .logout-icon {
        color: white !important;
    }
}

button.burger:hover {
    background-color: #0e1f6c;

    .menu-icon {
        color: white !important;
    }
}

.nav-icon {
    color: white !important;
}

mat-toolbar {
    width: 100%;
}

mat-toolbar-row {
    justify-content: space-between;
    border-radius: 20px;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

@media screen and (max-width:599px) {
    .burger {
        display: compact;
    }

    .nav {
        display: none;
    }
}

@media screen and (min-width:600px) {
    .burger {
        display: none;
    }

    .nav {
        display: compact;
    }
}
