<p class="text-5xl text-center my-10">Appointments</p>

<div class="flex items-center justify-center">
    <div class="items-center justify-center mt-5 mb-20">
        <form (submit)="search()" class="join">
            <input class="border-2 rounded-md input input-bordered input-primary join-item" placeholder="Search" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"/>
            <button class="rounded-r-full btn join-item">
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
        </form>
    </div>
</div>

<div class="flex flex-wrap gap-5 justify-evenly">
    @for (appointment of getAppointments(); track appointment.id) {
        <app-user-appointment
            [appointment]="appointment"
        ></app-user-appointment>
    } @empty {
        No appointments purchased!
    }

</div>
