<ul>
  <li *ngFor="let appointmentManagement of getAppointmentManagement()">
    <div style="display: flex; align-items: center;">
      <p>
        {{ appointmentManagement.instructor.lastName }}
        {{ appointmentManagement.instructor.firstName }}
        ({{ appointmentManagement.instructor.id }})
      </p>
      <button style="height: min-content;" (click)="remove(appointmentManagement)">-</button>
    </div>
  </li>

  <div *ngIf="getInstructors().length != 0">
    <select [(ngModel)]="selectedInstructor">
      <option *ngFor="let instructor of getInstructors()" [ngValue]="instructor">
        {{ instructor.lastName }}
        {{ instructor.firstName }}
        ({{ instructor.id }})
      </option>
    </select>

    <button (click)="add()">Add</button>
  </div>
</ul>

