<ul>
    @for (appointmentManagement of getAppointmentManagement(); track appointmentManagement.id) {
        <li>
            <div style="display: flex; align-items: center;">
                <p>
                    {{ appointmentManagement.instructor.lastName }}
                    {{ appointmentManagement.instructor.firstName }}
                </p>
                <button
                    style="height: min-content"
                    (click)="remove(appointmentManagement)"
                >
                    -
                </button>
            </div>
        </li>
    }

    @if (getInstructors().length !== 0) {
        <select [(ngModel)]="selectedInstructor">
            <option *ngFor="let instructor of getInstructors()" [ngValue]="instructor">
                {{ instructor.lastName }}
                {{ instructor.firstName }}
            </option>
        </select>

        <button (click)="add()">Add</button>
    }
</ul>
