<div class="mt-10 space-y-5">
    <div>
        <p class="text-5xl text-center">{{packet?.name}}</p>
        <p class="text-2xl text-center">{{packet?.price}} €</p>
    </div>
    
    <div class="flex justify-center">
        <div>
            @if(wasPurchased) {
                <button class="btn btn-accent btn-disabled" disabled="">
                    <span class="material-symbols-outlined">
                        done
                    </span>
                    Purchased
                </button>
            } @else {
                <button class="rounded-md btn btn-accent" (click)="onBtnSignIn()"> 
                    <span class="material-symbols-outlined">
                        payment
                    </span>
                    Buy
                </button>
            }  
        </div>
    </div>
    
    <div class="flex flex-wrap w-full gap-5 justify-evenly">
        @for (offer of offers; track $index) {
            <app-user-appointment
                [appointment]="offer.appointment"></app-user-appointment>
        }    
    </div>
</div>
