<mat-card id="card">
  <mat-card-header>
    <mat-card-title>{{appointment.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Address: {{appointment.address}}</p>
    <p>Duration: {{appointment.duration}}</p>
    <p>Start: {{appointment.date.toISOString()}}</p>
  </mat-card-content>
  <mat-card-actions>
    @if (showSignIn) {
      <button mat-button (click)="onBtnSignIn()">Sign In</button>
    } @else {
      <p>&nbsp; ✅</p>
    }
    <!--<button mat-button>Cancel</button>-->
  </mat-card-actions>
</mat-card>
