<h2>Customers</h2>

<div style="display: flex; justify-content: center; flex-direction: column;">
    <mat-action-list>
        @for (customer of customerService.get(); track customer) {
        <a [routerLink]="['/admin/customers/', customer.id]" mat-list-item>
            <mat-icon matListItemIcon>
                account_circle
            </mat-icon>
            <div matLine>
                <p>{{customer.firstName}} {{customer.lastName}}</p>
            </div>
        </a>

        <mat-divider></mat-divider>
        }

    </mat-action-list>
</div>
