<p class="text-5xl text-center my-10">Customers</p>

<div class="overflow-x-auto">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>E-Mail</th>
        </tr>
        </thead>
        <tbody>

        @for (customer of customerService.get(); track $index) {
            <tr class="hover cursor-pointer" [routerLink]="['/admin/customers/', customer.id]">
                <th>{{ $index+1 }}</th>
                <td>{{ customer.firstName }} {{ customer.lastName }}</td>
                <td>{{ customer.email }}</td>
            </tr>
        }

        </tbody>
    </table>
</div>
