<p class="my-10 text-5xl text-center">Customers</p>

<div class="overflow-x-auto">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>E-Mail</th>
            </tr>
        </thead>
        <tbody>
            @for (customer of viewModel | async; track $index) {
                <tr
                    class="cursor-pointer hover"
                    [routerLink]="['/admin/customers/', customer.id]"
                >
                    <th>{{ $index + 1 }}</th>
                    <td>{{ customer.firstName }} {{ customer.lastName }}</td>
                    <td>{{ customer.email }}</td>
                </tr>
            }
        </tbody>
    </table>
</div>
