<p class="text-5xl text-center pb-10 mt-10 shadow-lg">Course Explorer</p>

<div class="flex flex-row">
    <ul class="menu rounded-box min-w-64 pb-72 rounded-none border-r-2">
        @for (
            organisation of (viewModel | async)?.organisations;
            track organisation
        ) {
            <li>
                <a
                    [routerLink]="[organisation.id]"
                    routerLinkActive="border-b-2 border-accent"
                    (click)="selectOrganisation(organisation)"
                    >{{ organisation.name }}</a
                >
                <ul>
                    @for (category of organisation.categories; track category) {
                        <li>
                            <a
                                [routerLink]="[organisation.id, category.id]"
                                routerLinkActive="border-b-2 border-accent"
                                (click)="selectCategory(category)"
                                >{{ category.name }}</a
                            >
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>

    <div class="grow mb-20 mx-10">
        <router-outlet/>
    </div>
</div>
