<label>
    Select an appointment

    <select [(ngModel)]="appointment">
        <option *ngFor="let a of appointmentService.get()" [ngValue]="a">
            {{ a.name }} {{ a.date.toLocaleDateString() }} ({{ a.id }}) 
        </option>
    </select>
</label>

<div *ngIf="appointment">
    <p>{{ appointment.name }} on {{ appointment.date.toDateString() }} at {{ appointment.address }} ({{ appointment.duration / 60 }} min)</p>

    <h3>Instructors</h3>

    

    <h3>Participants</h3>

    <app-participants [appointment]="appointment" />
</div>

