<mat-card>
    <mat-card-header>
        <mat-card-title>{{ appointment.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <hr>
        <mat-icon>location_on</mat-icon>
        <p class="card-p">{{ appointment.address }}</p>
        <hr style="height: 1px; width: 200px">
        <mat-icon>today</mat-icon>
        <p class="card-p">{{ appointment.date.getDay() }}.{{ appointment.date.getMonth() }}.{{ appointment.date.getFullYear() }}</p>
        <div class="flex-base-row time-container">
            <div class="flex-base-col">
                <mat-icon>schedule</mat-icon>
                <p class="card-p">{{ appointment.date.getHours() }}:{{ String(appointment.date.getMinutes()).padStart(2, "0") }}</p>
            </div>
            <div class="flex-base-col">
                <mat-icon>timelapse</mat-icon>
                <p class="card-p">{{ appointment.duration }} min</p>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        @if (showSignIn) {
            <button mat-mini-fab color="primary" (click)="onBtnSignIn()">
                <mat-icon class="card-btn">add</mat-icon>
            </button>
        } @else {
            <button mat-mini-fab color="primary">
                <mat-icon class="card-btn">done</mat-icon> <!--check_circle-->
            </button>
        }
        <!--<button mat-button>Cancel</button>-->
    </mat-card-actions>
</mat-card>
