<h2 style="margin-bottom: 0px;">
    {{appointment?.name }}
</h2>

<hr>
<div class="flex-base-row" style="justify-content: space-around; margin-bottom: 3vh; margin-top: 3vh;">
    <div class="flex-base-row">
        <mat-icon>location_on</mat-icon>
        <p class="card-p">{{ appointment?.address }}</p>
    </div>

    <div class="flex-base-row">
        <mat-icon>today</mat-icon>
        <p class="card-p">{{ appointment?.date?.getDay() }}.{{ appointment?.date?.getMonth() }}.{{ appointment?.date?.getFullYear() }}</p>
    </div>
    
    <div class="flex-base-row">
        <mat-icon>schedule</mat-icon>
        <p class="card-p">{{ appointment?.date?.getHours() }}:{{ String(appointment?.date?.getMinutes()).padStart(2, "0") }}</p>
    </div>
    
    <div class="flex-base-row">
        <mat-icon>timelapse</mat-icon>
    <p class="card-p">{{ appointment?.duration }} min</p>
    </div>
</div>

<hr class="hr-exp-panel" style="margin-bottom: 3vh;">

<app-admin-appointment-management [appointment]="appointment" />

<app-admin-participations [appointment]="appointment" />