<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Confirmation for Purchase</title>
        <style>
            h1 {
                font-size: 32px;
                line-height: 48px;
            }
        </style>
    </head>
    <body>
        <h1>Confirmation for purchase of {amountOfTokens} token(s)</h1>
        <br />
        <h2>Dear {receiver}!</h2>
        <p>
            Your purchase of {amountOfTokens} token(s) for {categoryName} was
            successful!
        </p>
    </body>
</html>
