<p class="text-5xl text-center mt-10 mb-1">{{ instructor?.firstName }} {{ instructor?.lastName }}</p>
<p class="text-lg text-center mb-10">{{ instructor?.email }}</p>

<div class="overflow-x-auto">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Appointment</th>
            <th>Where</th>
            <th>When</th>
        </tr>
        </thead>
        <tbody>

            @for (appointment of appointments; track $index) {
                <tr class="hover cursor-pointer" [routerLink]="['/admin/appointments/', appointment.id]">
                    <th>{{ $index+1 }}</th>
                    <td>{{ appointment.name }}</td>
                    <td>{{ appointment.address }}</td>
                    <td>{{ appointment.date.toDateString() }}</td>
                </tr>
            }

        </tbody>
    </table>
</div>


