<p class="my-10 text-5xl text-center">Packets</p>

@for (p of getAllPackets(); track p) {
    <app-admin-packet [packet]="p" [displaySignedInBtn]="false"></app-admin-packet>
}

<!-- For adding a Packet
<br><br><br>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>
            <input
                type="text"
                placeholder="Name"
                [(ngModel)]="newPacket.name"
            />
        </td>
        <td>
            <input
                type="number"
                placeholder="Price"
                [(ngModel)]="newPacket.price"
            />
        </td>
        <td>
            <button (click)="addPacket()">Add</button>
        </td>
    </tr>
</table>
-->
