<div class="flex justify-center">
    <div class="w-4/5 shadow-2xl collapse collapse-arrow">
        <input
            type="radio"
            name="radio"
            [checked]="panelOpenState"
            (click)="panelOpenState = !panelOpenState"
        />
        <div
            class="flex items-center gap-2 text-xl font-medium shadow-lg collapse-title"
        >
            <span class="material-symbols-outlined"> build </span>

            Instructors
        </div>
        <div class="collapse-content">
            @for (
                appointmentManagement of (viewModel | async)
                    ?.appointmentManagements;
                track appointmentManagement
            ) {
                <div class="grid items-center grid-cols-3 mt-5">
                    <p>
                        {{ appointmentManagement.instructor?.firstName }}
                        {{ appointmentManagement.instructor?.lastName }}
                    </p>
                    <button
                        class="btn btn-error btn-circle btn-md"
                        (click)="remove(appointmentManagement)"
                    >
                        <span class="material-symbols-outlined"> delete </span>
                    </button>
                </div>
            }

            @if (
                (viewModel | async)?.instructors !== null &&
                (viewModel | async)?.instructors?.length! > 0
            ) {
                <div class="grid items-center grid-cols-3 gap-5 mt-5">
                    <select
                        [(ngModel)]="selectedInstructor"
                        class="w-full max-w-xs border-2 rounded-md select select-accent"
                    >
                        @for (
                            instructor of (viewModel | async)?.instructors;
                            track instructor
                        ) {
                            <option [ngValue]="instructor">
                                {{ instructor.firstName }}
                                {{ instructor.lastName }}
                            </option>
                        }
                    </select>
                    <button
                        class="btn btn-accent btn-circle btn-md"
                        (click)="add()"
                    >
                        <span class="material-symbols-outlined"> add </span>
                    </button>
                </div>
            }
        </div>
    </div>
</div>
