<div
    class="min-h-screen -mb-60 hero"
    style="background-image: url(assets/{{ images[randomImageIndex] }});"
>
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="text-center hero-content text-neutral-content">
        <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">
                Welcome back, {{ userProfile?.username }}!
            </h1>
            <p class="mb-5 text-lg">{{ sentences[randomSentenceIndex] }}</p>
            <a
                routerLink="/packets"
                class="rounded-md btn btn-primary glass text-base-100"
                >View Packets</a
            >
        </div>
    </div>
</div>

<button class="change-image" (click)="newRandomImageIndex()"></button>
