<table>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Duration [min]</th>
        <th>Start</th>
    </tr>
    <tr *ngFor="let appointment of appointmentService.get()">
        <td>
            {{ appointment?.name }}
        </td>
        <td>
            {{ appointment?.address }}
        </td>
        <td>
            {{ appointment?.duration }}
        </td>
        <td>
            {{ appointment?.date?.toLocaleDateString() }}
            {{ appointment.date.toLocaleTimeString() }}
        </td>
    </tr>
    <tr>
        <td>
            <input
                type="text"
                placeholder="name"
                [(ngModel)]="newAppointment.name"
            />
        </td>
        <td>
            <input
                type="text"
                placeholder="address"
                [(ngModel)]="newAppointment.address"
            />
        </td>
        <td>
            <input
                type="number"
                placeholder="duration"
                [(ngModel)]="newAppointment.duration"
            />
        </td>
        <td>
            <input
                type="datetime-local"
                placeholder="date"
                [valueAsDate]="newAppointment.date"
                (input)="newAppointment.date = parseDate($event)"
            />
        </td>
        <td>
            <button (click)="add()">Add</button>
        </td>
    </tr>
</table>

<br/><br/>

<app-appointment></app-appointment>
