@import url('https://fonts.googleapis.com/css?family=Itim:700|Itim:400'); /* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Nunito', 'Roboto Mono', 'Itim', Arial, sans-serif;
}

body {
    height: 100%;
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.flex-base-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-base-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.time-container {
    justify-content: space-between;
    width: 120px;
}

mat-card {
    box-shadow: 0 0 5px #3f51b5 !important;
    margin: 3% 0 0 0 !important;
    width: 350px !important;
    display: flex !important;
    align-items: center !important;
    background-color: #efeff5 !important;
}

mat-card-actions {
    padding-top: 0 !important;
}

mat-card-title {
    font-size: 30px !important;
    font-weight: bold !important;
    /*background-color: #3f51b5;
    color: white;
    border-radius: 5px;
    padding: 2px;*/
}

mat-accordion {
    display: block;
    width: 50%;
    margin: auto;
}

mat-expansion-panel {
    box-shadow: 0 0 5px #3f51b5 !important;
    margin: 1vh 0 0 0 !important;
    background-color: #efeff5 !important;
}

mat-panel-description {
    flex-grow: 0.5 !important;
}

.user-appointments,
.user-packets,
.user-organisations {
    display: grid;
    grid-template-columns: repeat(4, minmax(5em, 1fr));
    grid-column-gap: 60px;
    grid-row-gap: 100px;
    justify-items: center;
    margin: 0 50px;
}

/* Change amount of grid items */
@media screen and (max-width: 1699px) {
    .user-appointments,
    .user-packets,
    .user-organisations {
        grid-template-columns: repeat(3, minmax(5em, 1fr));
    }
}
@media screen and (max-width: 1199px) {
    .user-appointments,
    .user-packets,
    .user-organisations {
        grid-template-columns: repeat(2, minmax(5em, 1fr));
    }
}
@media screen and (max-width: 749px) {
    .user-appointments,
    .user-packets,
    .user-organisations {
        grid-template-columns: repeat(1, minmax(5em, 1fr));
    }
}

app-user-appointment {
    width: 350px;
    margin: 0;
}

hr {
    color: #3f51b5;
    border: 0;
    height: 4px;
    width: 250px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #3f51b5, rgba(0, 0, 0, 0));
}

hr.hr-exp-panel {
    width: 100%;
}

h1, h2 {
    text-align: center;
    margin-top: 2%;
    font-weight: bold;
    color: #0e1f6c;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p.card-p {
    margin: 0 0 5px 0;
}

mat-icon {
    color: #3f51b5 !important;
}

mat-icon.card-btn {
    color: white !important;
}

/* For Mouse Selection */

::-moz-selection { /* Code for Firefox */
    color: #efeff5;
    background: #3f51b5;
}

::selection {
    color: #efeff5;
    background: #3f51b5;
}

/* For Mobile */

@media screen and (max-width:599px) {
    mat-accordion {
        width: 98%;
    }
}

/* Footer */
/*
.fa {
    padding: 10px;
    font-size: 30px !important;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;
}

.footer {
    position: relative;
    clear: both;
    width: 100%;
    height: 300px;
    background-color: #0e1f6c;
    margin-top: 150px;
    justify-content: center;
}

.follow-p {
    color: #efeff5;
    font-size: 25px;
}

.icons {
    justify-content: space-around;
}*/
