@import url('https://fonts.googleapis.com/css?family=Itim:700|Itim:400'); /* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Itim', Arial, sans-serif;
}

body {
    height: 100%;
    margin: 0;
}

.flex-base-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-base-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.time-container {
    justify-content: space-between;
    width: 120px;
}

mat-card {
    box-shadow: 0 0 5px #3f51b5 !important;
    margin: 3% 0 0 0 !important;
    width: 350px !important;
    display: flex !important;
    align-items: center !important;
    background-color: #efeff5 !important;
}

mat-card-actions {
    padding-top: 0 !important;
}

mat-card-title {
    font-size: 30px !important;
    font-weight: bold !important;
    /*background-color: #3f51b5;
    color: white;
    border-radius: 5px;
    padding: 2px;*/
}

mat-accordion {
    display: block;
    width: 50%;
    margin: auto;
}

mat-expansion-panel {
    box-shadow: 0 0 5px #3f51b5 !important;
    margin: 1vh 0 0 0 !important;
    background-color: #efeff5 !important;
}

mat-panel-description {
    flex-grow: 0.5 !important;
}

div.user-appointments, div.user-organisations {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div.user-packets {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

app-user-appointment {
    width: 350px;
    margin: 0;
}

hr {
    color: #3f51b5;
    border: 0;
    height: 4px;
    width: 250px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #3f51b5, rgba(0, 0, 0, 0));
}

hr.hr-exp-panel {
    width: 100%;
}

h1, h2 {
    text-align: center;
    margin-top: 2%;
    font-weight: bold;
    color: #0e1f6c;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p.card-p {
    margin: 0 0 5px 0;
}

mat-icon {
    color: #3f51b5 !important;
}

mat-icon.card-btn {
    color: white !important;
}

/* For Mouse Selection */

::-moz-selection { /* Code for Firefox */
    color: #efeff5;
    background: #3f51b5;
}

::selection {
    color: #efeff5;
    background: #3f51b5;
}

/* For Mobile */

@media screen and (max-width:599px) {
    mat-accordion {
        width: 98%;
    }
}
