<table>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Birthday</th>
    </tr>
    <tr *ngFor="let customer of customerService.get()">
        <td>
            {{ customer?.id }}
        </td>
        <td>
            {{ customer?.firstName }}
        </td>
        <td>
            {{ customer?.lastName }}
        </td>
        <td>
            {{ customer?.email }}
        </td>
        <td>
            {{ customer?.dateOfBirth?.toLocaleDateString() }}
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input
                type="text"
                placeholder="first name"
                [(ngModel)]="newCustomer.firstName"
            />
        </td>
        <td>
            <input
                type="text"
                placeholder="last name"
                [(ngModel)]="newCustomer.lastName"
            />
        </td>
        <td>
            <input
                type="text"
                placeholder="email"
                [(ngModel)]="newCustomer.email"
            />
        </td>
        <td>
            <input
                type="date"
                placeholder="birthday"
                [valueAsDate]="newCustomer.dateOfBirth"
                (input)="newCustomer.dateOfBirth = parseDate($event)"
            />
        </td>
        <td>
            <button (click)="add()">Add</button>
        </td>
    </tr>
</table>
