<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Birthday</th>
  </tr>
  <tr *ngFor="let customer of customers">
    <td>
      {{ customer?.first_name }}
    </td>
    <td>
      {{ customer?.last_name }}
    </td>
    <td>
      {{ customer?.email }}
    </td>
    <td>
      {{ customer?.date_of_birth?.toLocaleDateString() }}
    </td>
  </tr>
  <tr>
    <td>
        <input type="text" placeholder="first name" [(ngModel)]="newCustomer.first_name">
    </td>
    <td>
        <input type="text" placeholder="last name" [(ngModel)]="newCustomer.last_name">
    </td>
    <td>
        <input type="text" placeholder="email" [(ngModel)]="newCustomer.email">
    </td>
    <td>
        <input type="date" placeholder="birthday" [valueAsDate]="newCustomer.date_of_birth" (input)="newCustomer.date_of_birth = parseDate($event)">
    </td>
    <td>
        <button (click)="add()">Add</button>
    </td>
  </tr>
</table>
