<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <span class="material-symbols-outlined" matListItemIcon>
                {{panelOpenState ? 'orders' : 'package_2'}}
            </span>
            {{ packet.name }}
        </mat-panel-title>
        <mat-panel-description>
            {{ packet.price }} €
        </mat-panel-description>
    </mat-expansion-panel-header>

    <hr class="hr-exp-panel">

    @for(a of getAllAppointmentsFromPacket(); track a) {
        <p>{{a.name}}</p>
    }
</mat-expansion-panel>
