<div
    class="bg-[url('/assets/userinfo-banner.jpg')] bg-cover bg-center pb-20 pt-20 mb-10 shadow-lg"
>
    <p
        class="text-5xl text-center text-white"
        style="text-shadow: black 0 0 10px"
    >
        Userinfos
    </p>
</div>

<div class="flex flex-row justify-center">
    <div class="card bg-base-100 w-1/3 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Username</h2>
            <p>{{ userProfile?.username }}</p>

            <h2 class="card-title">Firstname</h2>
            <p>{{ userProfile?.firstName }}</p>

            <h2 class="card-title">Lastname</h2>
            <p>{{ userProfile?.lastName }}</p>

            <h2 class="card-title">Email</h2>
            <p>{{ userProfile?.email }}</p>
        </div>
    </div>
</div>
