<div class="bg-[url('/assets/appointments-banner.jpg')] bg-cover bg-center pb-20 pt-20 shadow-lg">
  <p class="text-5xl text-center text-white" style="text-shadow: black 0 0 10px">Courses</p>
</div>

<div class="m-4 space-y-4">
  <div class="border rounded-md p-4 space-y-1">
    <div class="flex justify-between items-center">
      <p class="font-semibold text-lg">Courses</p>
      <button class="btn btn-sm" onclick="course.showModal()">
        <span class="material-symbols-outlined">add</span>
      </button>
    </div>

    <div class="overflow-x-auto mb-60">
      @if ((viewModel | async)?.organisationOfCurrentUser) {
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            @for (course of (viewModel | async)?.courses; track $index) {
              <tr class="cursor-pointer hover" [routerLink]="[course.id]">
                <th>{{ $index + 1 }}</th>
                <td>{{ course.name }}</td>
              </tr>
            }
          </tbody>
        </table>
      } @else {
        <p class="text-center">
          You are not assigned to an organisation. Please contact an administrator in order to be assigned to your organisation.
        </p>
      }
    </div>
  </div>
</div>

<dialog id="course" class="modal">
  <div class="modal-box flex flex-col p-4 space-y-1">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <p class="font-semibold text-lg">Add Course</p>

    <form method="dialog" class="flex flex-col" (submit)="onCourseAddSubmit()">
      <div class="space-y-1">
        <label class="input input-bordered flex items-center gap-2">
          Name
          <input type="text" [(ngModel)]="newCourseName" name="name" class="grow" placeholder="" />
        </label>
        <select [(ngModel)]="newCategoryId" name="category" class="select w-full input-bordered">
          <option disabled selected [value]="undefined">Category</option>
          @for (category of (viewModel | async)?.categories; track $index) {
            <option [value]="category.id">{{ category.name }}</option>
          }
        </select>
        <div class="flex w-full gap-1 justify-end">
          <button class="btn btn-sm">Submit</button>
          <form method="dialog">
            <button class="btn btn-sm">Cancel</button>
          </form>
        </div>
      </div>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button></button>
  </form>
</dialog>
