<ul>
    <li *ngFor="let participation of getParticipation()">
        <div style="display: flex; align-items: center">
            <p>
                {{ participation.customer.lastName }}
                {{ participation.customer.firstName }}
                ({{ participation.customer.id }})
            </p>
            <button style="height: min-content" (click)="remove(participation)">
                -
            </button>
        </div>
    </li>

    <select [(ngModel)]="selectedCustomer">
        <option *ngFor="let customer of getCustomers()" [ngValue]="customer">
            {{ customer.lastName }}
            {{ customer.firstName }}
            ({{ customer.id }})
        </option>
    </select>

    <button (click)="add()">Add</button>
</ul>
