<p class="text-5xl text-center my-10">Appointments</p>

<div class="overflow-x-auto">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Appointment</th>
            <th>Where</th>
            <th>When</th>
        </tr>
        </thead>
        <tbody>

            @for (appointment of appointmentService.get(); track $index) {
                <tr class="hover cursor-pointer" [routerLink]="['/admin/appointments/', appointment.id]">
                    <th>
                        <span class="material-symbols-outlined">
                            event
                        </span>
                    </th>
                    <td>{{ appointment.name }}</td>
                    <td>{{ appointment.address }}</td>
                    <td>{{ appointment.date.toDateString() }}</td>
                </tr>
            }

        </tbody>
    </table>
</div>

