
<h2>Appointments</h2>

<div style="display: flex; justify-content: center; flex-direction: column;">
    <mat-action-list>
        @for (appointment of appointmentService.get(); track appointment) {
        <a [routerLink]="['/admin/appointments/', appointment.id]" mat-list-item>
            <span matListItemIcon class="material-symbols-outlined">
                event
            </span>
            <p matListItemTitle>{{appointment.name}}</p>
            <p matListItemLine>{{appointment.address}} on {{appointment.date.toDateString()}}</p>
        </a>
        
        <mat-divider></mat-divider>
        }

    </mat-action-list>
</div>